@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Roboto:wght@400;700;900&display=swap');

/* CUSTOM PROPERTIES */
:root {
    /* COLORS */
    --primary: #1073BA;
    --secondary: #00DA55;
    --light: #fff;
    --dark: #1e1e1e;
    --grey: #3b3b3b;
    --lightGrey: #e1e1e1;

    /* SPACING */
    --sectionSpacing: 5rem;
    --textSpacing: 2.5rem;

    /* FONTS */
    --primaryFont: 'Roboto', sans-serif;
    --secondaryFont: 'Lato', sans-serif;
    --h1Size: 4.4rem;
    --h2Size: 3.6rem;
    --h3Size: 2.8rem;

    /* RADIUS */
    --radius: 2rem;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
}

*,
:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: var(--primaryFont);
    font-size: 1.6rem;
    line-height: 1.5;
    background: var(--light);
}

/* GLOBAL STYLES */
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

.primary-gradient {
    background: linear-gradient(to right, var(--primary) 0%, var(--secondary) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    /* Prefix for some browser */
}

h1,
h2,
h3 {
    font-family: var(--secondaryFont);
    font-weight: 900;
    /* text-transform: uppercase; */
    margin: var(--textSpacing) 0;
}

h1 {
    font-size: var(--h1Size);
}

h2 {
    font-size: var(--h2Size);
}

h3 {
    font-size: var(--h3Size);
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/* UTILITIES */
.text-center {
    text-align: center;
}

/* HEADER */
.header {
    background: var(--dark);
    color: var(--light);
    padding: calc(var(--sectionSpacing) * 3) 0;
}

.header-image {
    margin: auto 0;
}

.header-text {
    text-align: center;
    padding-top: var(--sectionSpacing);
}

.header-text p {
    margin: 0;
}

.header-tag {
    font-weight: 900;
    font-size: 2.4rem;
    margin: 2rem 0
}

.header-title {
    font-size: 6rem;
    margin: 0;
}

.price-tag span {
    font-size: 6rem;
    font-weight: 900;
}

@media (min-width: 768px) {
    .header {
        padding: calc(var(--sectionSpacing) * 3) 0;
    }

    .header-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .header-text {
        padding-top: 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header-tag {
        font-size: 3rem;
    }

    .header-title {
        font-size: 10rem;
        line-height: 1;
    }
}

/* PRODUCT FEATURES */
.product-features {
    padding: var(--sectionSpacing) 0;
}

.feature {
    text-align: center;
    margin-bottom: var(--textSpacing);
}

.feature:last-of-type {
    margin-bottom: 0;
}

.feature img {
    width: 5rem;
    margin: 0 auto;
}

.feature h3 {
    text-transform: uppercase;
    color: var(--primary);
}

@media (min-width: 768px) {
    .product-features {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .feature {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .product-features {
        gap: 4rem;
    }
}

/* ABOUT TECHPRO */
.about-techpro {
    margin: calc(var(--sectionSpacing) / 2) 0;
    background-image: linear-gradient(to bottom, transparent 50%, var(--primary) 0%), url(../img/imagen-mujer.jpg);
    background-position: center, top right;
    background-repeat: repeat, no-repeat;
    background-size: 100%, 80rem;
}

@media (min-width: 768px) {
    .about-techpro {
        background-image: linear-gradient(to left, transparent 50%, var(--primary) 0%), url(../img/imagen-mujer.jpg);
        background-position: right;
        background-repeat: repeat, no-repeat;
        background-size: 100%, 110rem;
    }
}

@media (min-width: 1200px) {
    .about-techpro {
        background-size: 100%, 160rem;
    }
}

.about-techpro-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 4rem;
}

@media (min-width: 768px) {
    .about-techpro-grid {
        grid-template-rows: unset;
        row-gap: unset;

        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;

        padding: calc(var(--sectionSpacing) * 1.2) 0;
    }
}

.about-text {
    grid-row: 2 / 3;
    color: var(--light);
    padding: var(--textSpacing) 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-bottom: calc(var(--sectionSpacing) * 1.5);
}

.about-text h2 {
    font-size: 3.5rem;
}

.about-text p {
    font-size: 2rem;
    line-height: 2;
}

@media (min-width: 768px) {
    .about-text {
        padding-bottom: var(--textSpacing);
    }

    .about-text h2 {
        font-size: 4rem;
    }

    .about-text p {
        margin: var(--textSpacing) 0;
    }
}

/* PRODUCT MODELS */
.product-models {
    padding: calc(var(--sectionSpacing) / 2) 0;
}

.product-models h2 {
    text-align: center;
    font-size: 6rem;
}

.model-list {
    margin-top: var(--sectionSpacing);
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 768px) {
    .model-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }

    .model-z {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }
}

.model {
    background-color: var(--lightGrey);
    color: var(--primary);
    padding-left: 3.2rem;
    margin-bottom: 2rem;
    
    min-height: 20rem;
    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: 15rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);

    transition-property: transform, background-size;
    transition-duration: 0.3s;
}

.model:first-of-type {
    margin-bottom: 0;
}

.model:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    background-size: 30rem;
}

.model h3 {
    font-size: 2.4rem;
}

.model .price {
    font-size: 4rem;
    margin: 1rem 0;
    font-weight: 900;
}

@media (min-width: 768px) {
    .model {
        padding-left: 4rem;
        font-size: 4rem;
    }
}

.model-z {
    background-image: url(../img/modelo-z.svg);
    background-color: var(--primary);
    color: var(--light);
}

.model-z .price {
    font-size: 5.2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .model.model-z {
        padding: 0;
        align-items: center;
        justify-content: center;

        min-height: 30rem;
        background-position: 50% 15%;
        background-size: 21rem;
    }
    
    .model-z:hover {
        background-size: 27rem;
    }

    .model-z h3 {
        margin-top: 80%;
        line-height: 0;
    }
}

@media (min-width: 768px) {
    .model-z {
        background-size: 25rem;
    }

    .model-z h3 {
        font-size: 4rem;
    }

    .model-z .price {
        font-size: 6rem;
    }
}

.model-y {
    background-image: url(../img/modelo-y.svg);
}

.model-x {
    background-image: url(../img/modelo-x.svg);
}

/* NEWSLETTER SECTION */
.newsletter {
    margin-top: var(--sectionSpacing);
    background-image: linear-gradient(to bottom, transparent 50%, var(--light) 0%), url(../img/newsletter.jpg);
    background-position: top right;
    background-repeat: repeat, no-repeat;
    background-size: 100%, 80rem;
}

.newsletter-content {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 4rem;
}

.newsletter-form {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .newsletter {
        background-image: linear-gradient(to right, transparent 50%, var(--light) 0%), url(../img/newsletter.jpg);
        background-position: center, -21rem -1rem;
        background-size: 100%, 110rem;
        padding: calc(var(--sectionSpacing) * 2) 0;
    }

    .newsletter-content {
        grid-template-rows: unset;
        row-gap: unset;
        
        grid-template-columns: repeat(2, 1fr);
        column-gap: 7rem;
    }

    .newsletter-form {
        grid-column: 2 / 3;
    }
}

@media (min-width: 2600px) {
    .newsletter {
        background-size: 100%, 160rem;
    }
}

.newsletter-form h2 {
    font-size: 3.6rem;
}

.newsletter-form p {
    font-size: 1.6rem;
    margin-bottom: 1.6rem ;
    line-height: 2;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.form input {
    margin: 0;
    padding: 2rem;
}

.form input[type="email"] {
    border: 2px solid var(--primary);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.form input[type="email"]:is(:focus) {
    outline: none;
    border-color: var(--primary);
}

.form input[type="submit"] {
    border: none;
    background-color: var(--primary);
    text-transform: uppercase;
    font-weight: 900;
    color: var(--light);
    font-size: 2rem;

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    transition-property: background-color;
    transition-duration: 0.3s;
}

.form input[type="submit"]:hover {
    background-color: #0d5e98;
    cursor: pointer;;
}


/* FOOTER */
.site-footer {
    padding: calc(var(--textSpacing) * 1.5) 0;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--primary);
    font-family: var(--secondaryFont);
}

@media (min-width: 992px) {
    .site-footer {
        font-size: 2rem;
    }
}